// Global variables are added here
// 
// Table of Contents
// 01. Colors
// 02. Fonts

// 01
$white: #FFFFFF;
$white-smoke: #EDEDED;
$black: #000000;
$blue-light: #E5EDF1;

// 02
$body-font-family: 'Helvetica neue', Helvetica, sans-serif;
