.score-form {

}

.score-form h3 {
    font-size: 20px;    
    margin: 15px 0;
}

.score-form__team {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}

.score-form__score {
    width: 60px;
}

.score-form__submit {
    width: auto;
    display: block;
}