extends ../layouts/default

block content
  h1 #{title}

  form(action="/update", method="post", class="score-form")
    .score-form__team
      h3 Home team
      select(name="homeTeam")
        option(value="Arsenal") Arsenal
        option(value="Bayern Munich") Bayern Munich
        option(value="Bor. Dortmund") Bor. Dortmund
        option(value="Real Madrid") Real Madrid
        option(value="Juventus") Juventus
        option(value="PSG") PSG
      h3 Score
      input(type="number", name="homeScore", class="score-form__score")
    
    .score-form__team
      h3 Away team
      select(name="awayTeam")
        option(value="Arsenal") Arsenal
        option(value="Bayern Munich") Bayern Munich
        option(value="Bor. Dortmund") Bor. Dortmund
        option(value="Real Madrid") Real Madrid
        option(value="Juventus") Juventus
        option(value="PSG") PSG
      h3 Score
      input(type="number", name="awayScore", class="score-form__score")

    button(type="submit", class="score-form__submit") Register
