doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Creuna Fifa Tournament

    meta(property='og:url', content='')
    meta(property='og:type', content='website')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    //- todo: update
    meta(property='og:image', content='')

    //- Include base stylesheet
    link(href='../styles/main.css', rel='stylesheet')
    //- link(rel='icon', href='/assets/images/favicon.png')

  //- HTML BODY
  body
    .app

        //- The content block should contain the body of your template's content
        block content

    script(src='../bundle.js')
